{% extends 'base.html' %}
{% block title %}Now tweet your friend...{% endblock %}

{% block content %}

    <div id="subheaderthanks">
    </div>

	<p><a href="http://www.twitter.com/{{bribe.bribee_twitter_handle}}">@{{bribe.bribee_twitter_handle}}</a> accepted your bribe - now it's time to settle up.</p>

	<a class="sentTweetButton stageOne" href="https://www.thegivinglab.org/api/donation/start?donationtype=0&amount=1&charityid={{bribe.charity.givinglab_id}}&returnurl=http://www.tweetbribe.com/bribe/thanks/{{bribe.id}}">Donate £1 to {{bribe.charity.name}}</a>

{% endblock %}