<h1>Bribery for Good</h1>

<p>Bribe your friends with a &pound;5 donation to
    one of the charities below to tweet whatever
    you want... naughty or nice... ;)
</p>

<ul>
{% for error in errors %}
<li>
    {{error}}
</li>
{% endfor %}

<form method="post" action="/bribe/create_bribe/">
<p>input your twitter handle</p>
<input type="text" name="bribe_briber_twitter_handle" />

<p>
    Who do you want to bribe?  Insert their 
    Twitter name here.
</p>
<input type="text" name="bribe_bribee_twitter_handle" />

<p>What do you want to bribe them to say?<p>
<textarea name="bribe_message">
</textarea>

<h2>Select the charity you would like to send to</h2>

<ul>
{% for charity in charities %}
<li>
    <input type="radio" name="bribe_charity_id" value="{{charity.id}}" />
    <p>{{charity.name}}</p>
    <p>{{charity.description}}</p>

    <img src="{{charity.logo_url}}" />
</li>
{% endfor %}
</ul>

<button value="">Tweet your bribe!</button>
</form>
