{% extends 'base.html' %}
{% block title %}Bribery for Good{% endblock %}

{% block content %}

    <div id="subheader">
    </div>

	<p class="header_message">
		Bribe your friends with a £10 donation to one of the charities below to tweet whatever you want... naughty or nice... ;)
	</p>

	<ul>
	{% for error in errors %}
	<li>
	    {{error}}
	</li>
	{% endfor %}
	</ul>

	<form method="post" action="/bribe/create_bribe/">
	<p>input your twitter handle</p>
	
	<div class="twitter_name">
		<div class="at">@</div>
		<input type="text" name="bribe_briber_twitter_handle" value="{{briber}}"/>
	</div>
	<p>
	    Who do you want to bribe?  Insert their 
	    Twitter name here.
	</p>

	<div class="twitter_name">
		<div class="at">@</div>
		<input type="text" name="bribe_bribee_twitter_handle" value="{{bribee}}"/>
	</div>

	<p>What do you want to bribe them to say?<p>
	<textarea name="bribe_message"></textarea>

	<h2>Select the charity you would like to send to</h2>

	<ul class="charity_picker">
	{% for charity in charities %}
	<li>
        <label> 
	    <input type="radio" name="bribe_charity_id" value="{{charity.id}}" />
	    <img src="{{charity.logo_url}}" />
	    <p>{{charity.name}}</p>
		</label>
	</li>
	{% endfor %}
	</ul>

	<button class="sentTweetButton stageOne" value="">Tweet your bribe!</button>
	</form>


{% endblock %}