{% extends 'base.html' %}
{% block title %}Bribery for Good{% endblock %}

{% block content %}

    <div id="subheader">
    </div>

	<p class="header_message">
		Bribe friends or celebrities with a £1 charity donation to tweet whatever you want... naughty or nice... ;)
	</p>

	{% if errors %}
		<ul id="errors">
		{% for error in errors %}
		<li>
		    {{error}}
		</li>
		{% endfor %}
		</ul>
	{% endif %}

	<form method="post" action="/bribe/create_bribe/">
	<p>First, tell us your twitter name</p>
	
	<div class="twitter_name">
		<div class="at">@</div>
		<input type="text" name="bribe_briber_twitter_handle" value="{{briber}}"/>
	</div>
	<p>
	    Next, the twitter name of your bribee
	</p>

	<div class="twitter_name">
		<div class="at">@</div>
		<input type="text" name="bribe_bribee_twitter_handle" value="{{bribee}}"/>
	</div>

	<p>What do you want to bribe them to say?<p>
	<textarea name="bribe_message"></textarea>

	<h2>Select the charity you'd like to donate to</h2>

	<ul class="charity_picker">
	{% for charity in charities %}
	<li>
        <label> 
	    <input type="radio" name="bribe_charity_id" value="{{charity.id}}" />
	    <img src="{{charity.logo_url}}" width="68px" height="68px" />
	    <p>{{charity.name}}</p>
		</label>
	</li>
	{% endfor %}
	</ul>

	<button class="sentTweetButton stageOne" value="">Tweet your bribe</button>
	</form>

	<div id="footer">
	</div>


{% endblock %}