{% extends 'base.html' %}
{% block title %}Now tweet your friend...{% endblock %}

{% block content %}

	<p><b>Briber Name</b>: {{bribe.briber_twitter_handle}}</p>
	<p><b>Bribee Name</b>: {{bribe.bribee_twitter_handle}}</p>
	<p><b>Message</b>: {{bribe.message}}</p>
	<p><b>Charity</b>: {{bribe.charity.name}}</p>

	<a href="https://twitter.com/intent/tweet?text=A tweet bribe for you... Click here to see: {{bribe_url}}&amp;related=twitterapi">Tweet this!</a>

	<a href="https://twitter.com/intent/tweet?text={{confirm_message}}&amp;related=twitterapi">Let {{bribe.briber_twitter_handle}} know</a>


{% endblock %}